In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [78]:
df = pd.read_csv('references.csv')

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11928 entries, 0 to 11927
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  11928 non-null  int64
 1   Publication Type            11928 non-null  object
 2   Authors                     11927 non-null  object
 3   Author Full Names           11927 non-null  object
 4   Group Authors               79 non-null     object
 5   Article Title               11928 non-null  object
 6   Source Title                11928 non-null  object
 7   Language                    11928 non-null  object
 8   Document Type               11928 non-null  object
 9   Author Keywords             10198 non-null  object
 10  Keywords Plus               10793 non-null  object
 11  Cited References            11901 non-null  object
 12  Cited Reference Count       11928 non-null  int64
 13  Times Cited, WoS Core       11928 non-null  int64
 14  Times Cited, All Databases  11928 non-null  int64
 15  180 Day Usage Count         11928 non-null  int64
 16  Since 2013 Usage Count      11928 non-null  int64
 17  ISSN                        10329 non-null  object
 18  eISSN                       8845 non-null   object
 19  Publication Date            9666 non-null   object
 20  Publication Year            11543 non-null  float64
 21  Volume                      10726 non-null  object
 22  Issue                       7272 non-null   object
 23  Part Number                 112 non-null    object
 24  Supplement                  82 non-null     object
 25  Special Issue               607 non-null    object
 26  Start Page                  7344 non-null   object
 27  End Page                    7344 non-null   object
 28  Article Number              4161 non-null   object
 29  DOI                         11148 non-null  object
 30  DOI Link                    11148 non-null  object
 31  Early Access Date           2020 non-null   object
 32  WoS Categories              11924 non-null  object
 33  Research Areas              11924 non-null  object
 34  Open Access Designations    5992 non-null   object
 35  Date of Export              11928 non-null  object
dtypes: float64(1), int64(6), object(29)
memory usage: 3.3+ MB